body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
}

h2.title {
    background-color: #14455D;
    color: #fff;
    border-radius: 2px;
    padding: 20px;
    text-align: center;
}

h2.title span.name {
    font-size: 16px;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}
   
section {
  font-size: 18px;
  background-color: var(--primary-color);
}

.card {
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgb(226, 224, 224);
    padding: 10px;
}

.card h3 {
    font-size: 26px;
    color: white;
    background-color: black;
    margin: 0 auto;
    padding: 10px;
}

.card p, .card a {
    font-size: 16px;
    color: black;
    margin-bottom: 5px;
}

main .card p {
text-align: left;
}

.card img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

footer {
    background-color: #14455D;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Media Queries */
@media screen and (max-width: 900px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }ppppppppppppp
}

@media screen and (max-width: 600px) {
    main {
        grid-template-columns: 1fr;
    }
}

