* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: radial-gradient(#decccc, #d1d6ed);
  margin: 0;
  padding: 10px;
  max-width: 100%;
  height: auto;
  align-items: center;
  overflow-x: hidden;
}

.header-and-nav img {
  padding: 10px;
  width: 110px;
  height:110px;
}

.header-and-nav img:hover {
  transform: scale(1.1);
}

.header-and-nav {
  background: radial-gradient(#dba0a0, #7085e4);
}

.hero {
	margin-top: -20px;
	position: relative;
}

.hero img {
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 2px 4px 1px rgba(138, 128, 211, 0.5);
}

.hero img:hover {
  transform: scale(0.9);
}

.herolabel {
	position: absolute;
	top: 505px;
	left: 23px;
	background: radial-gradient(#fff, #4D5B97);
	padding: 10px;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
  border-radius: 6px;
}

.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-family:"Great Vibes", serif;
}

.action {
  position: absolute;
  top: 550px;
  left: 5px; 
  padding: 10px 20px;
  box-shadow: 0 0 3rem #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  z-index: 1;
  font-family:"Great Vibes", serif;
  color: white;
  border: 2px solid #fff;
  box-shadow: 4px 1px 2px 1px  rgba(15, 3, 102, 0.5);
}

.action:hover {
  color: #fff;
  transform: scale(1.1);
}

.social-links img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  box-shadow: 2px 1px 2px 1px rgba(31, 13, 165, 0.5);
}

.social-links {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-right: 100px;
}

.social-links a {
  margin-right: 2px;
}

.social-links img:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
  background-color: #d97e93;
}

a:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}


header {
  display: flex;
  margin-top: 20px;
}

header img {
  max-width: 100px;
  height: auto;
  border-radius: 20px;
  margin-left: -15px;
  margin-top: -10px;
}

header h1.name {
  color: white;
  font-size: 18px;
  font-family: lora;
  text-shadow: 2px 2px 8px rgba(31, 13, 165, 0.5);
}

#menu-button::before {
  content: "☰";
  position: absolute;
  top: 1.1rem;
  right: 1.5rem;
  padding:0.3rem;
  background-color:#fff;
  border-radius: 2px; 
}

#menu-button.open::before {
  content: "❌";
}

.navigation.open a {
  display: block;
  text-align: center;
  font-size: 14px;
  padding: 5px;
  background: radial-gradient(#d88080, #455dc9);
  margin-bottom: 5px;
}

nav a {
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
    color: white;
    transition: background-color 0.3s ease;
    border-radius: 4px;
    box-shadow: 2px 1px 2px 1px  rgba(31, 13, 165, 0.5);
    font-family: lora; 
    font-weight: bold;
}

.navigation.open {
  flex-direction: column;
  border-radius: 8px;
  padding: 8px;
  margin-left: -100px;
  margin-bottom: -22px;
}

#menu-button:hover {
  background-color: #512cb5;
  border-radius: 2px; 
} 

.navigation a:hover {
  background: radial-gradient(#dba0a0, #7085e4);
  font-family: lora;
  font-size: 110%;
  color: white;
  font-weight: bold;
  font-family: system-ui; 
}

.header-and-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

main {
  padding: 20px;
  border-radius: 8px;
}

h2 {
  position: relative;
  font-family: Heletica;
}

.event img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;;
  object-fit: cover;
}

.event {
  position: relative; 
}

.event p, event h4 {
  font-family: helvetica;
}


.events-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  border-radius: 8px;
  margin-top: -50px;
}

.current-events, .weather-card, .event, .company-spotlights, .spotlight {
  padding: 20px; 
  border-radius: 8px; 
  margin-bottom: 10px; 
}

.current-events h2 {
  text-align: center;
  color: black;
  font-family: lora;
}

.spotlight1,
.spotlight2,
.spotlight3 {
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.company-spotlights article {
  background: radial-gradient(#dba0a0, #7085e4);
  color: white;
  font-size: 18px;
  font-family: lora;
  text-shadow: 2px 2px 8px rgba(31, 13, 165, 0.5);
  margin-top: 10px;
}

p {
  font-size: 15px;
  font-family: lora;
}

footer img {
  max-width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-bottom: 10px;
  margin-right: 10px;
} 

footer img:hover {
  transform: scale(1.1);
}

#mode {
	position: absolute;
	top: 1rem;
	right: 10rem;
	cursor: pointer;
	font-size: 1rem;
  border-radius: 6px;
  border: solid rgb(12, 12, 118);
}

/* Discover page */
#message {
  border-radius: 8px;
  font-size: 20px;
  margin-top: 5px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.discover {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  border: 1px solid #156898;
  gap: 5px;
  align-items: center;
  justify-content: center;
  border: 1px solid #156898;
  padding: 20px;
  position: relative;
  margin-bottom: 36px;
  border-radius: 6px;
  box-shadow: 0 4px 6px #156898;
  margin-top: -18px;
}

.discover h3 { 
padding: 5px;
text-align: center;
}

.discover p {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid #ce1313; 
  padding-bottom: 10px; 
  box-shadow: 0 4px 6px rgba(220, 140, 142, 0.1);
  border-radius: 8px;
}

.discover img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: filter 0.5s;
  border: 1px solid rgb(231, 167, 49);
  transition: transform 0.3s ease-in-out;
  border-radius: 8px;
}

.discover img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.visits,
.today {
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 5px;
}

.visits::before,
.today::before {
  content: " - ";
}

.visits::after {
  content: " visits";
}

.today::after {
  content: " (Today)";
}

img {
  width: 100%;
  animation: fade 15s;
  align-items: center;
}

@keyframes fade {
  0% {
      opacity: 0
  }

  100% {
      opacity: 1;
  }
}

/* application form */
.joinInfo h2 {
  margin-top: -20px;
  margin-bottom: 8px;
  font-size: 23px;
}

form fieldset {
  margin: 2rem 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: .5rem 2%;
  margin-right: 5px;
}

.membership-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.membership-table caption {
  font-weight: bold;
  text-align: left;
}

.membership-table th, .membership-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.membership-table thead {
  background-color: #f2f2f2;
}

.membership-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}


.form legend {
  padding: 0 .5rem;
}

.form label {
  display: block;
  padding-top: 1rem;
  font-size: .9rem;
}

.form div {
  padding-top: 1rem;
  font-size: .9rem;
}

.form input[type="text"],
.form input[type="tel"],
.form input[type="email"], 
.form input [type="number"]
{
  background-color: #eee;
  display: block;
  border: solid 1px #999;
  border-radius: 6px;
  padding: .75rem;
  color: #555;
  width: 100%;
  max-width: 400px;
  appearance: none;
}

.form input[type="checkbox"]
{
  margin-right: 6px;
}

.form input[type="submit"]{
  border: none;
  background-image: linear-gradient(#9c2c13, #6f200e);
  color: #fff;
  border-radius: 6px;
  padding: .8rem;
  width: 96%;
  max-width: 400px;
  margin: -1rem 2% 2rem 2%;
  margin-top: 10px;
  box-shadow: 1px 1px 4px #999;
  align-items: center;
}

.form input[type="submit"]:hover {
  transform: translateY(-2.5px); 
  filter: brightness(1.2);
}

.form input:required {
  border-left: solid 8px red;
}

.form input:required:valid {
  border-left: solid 8px green;
}


header h3 {
  color: #fff;
  font-size: 20px;
  margin-right: auto;
  margin-left: 20px;
}

.membershipLevel {
  margin-top: -10px;
}

.membershipLevel li {
  margin-bottom: 5px;
}

input[type="hidden"] {
  display: none;
}

/* thanks.html */
.thanks h2 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
  font-family: system-ui;
}

  .thanks {
    padding: 20px;
    border-radius: 6px;
    margin-top: -15px;
    margin-bottom: 35px;
  }

  /* Join  */
  #footer-join {
    text-align: center;
}

.join table {
  margin: auto 0;
  border-collapse: collapse;
  width: 30%;
  margin-top: -20px;
}
 

.join caption {
  padding: 10px;
  caption-side: bottom;
  color: Black;
  font-size: .85rem;
  font-style: italic;
  font-family: lora;
  font-weight: bold;
}

.join th,
.join td {
  padding: 12px 15px;
  border: 1px solid rgb(187, 166, 166);
  margin-right: 100px;
}

.join th {
  background-color: black;
  font-size: larger;
  color: white;
}

.join td {
  text-align: center;
  font-weight: bold;
}

.join tbody tr:nth-child(2){
  background-color: rgb(215, 204, 204);
}

  /* members-jason/companies */
.member-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 2px solid #ccc;
  border-bottom: 4px double #ccc;
}

.member-card {
  border: 1px solid #aeb917;
  border-radius: 6px;
  margin-bottom: 15px;
  border-bottom: 80px
}

.member-card img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(7, 132, 117, 0.5);
  opacity: 0.8;
  transition: opacity 0.3s ease, filter 0.3s ease;
}

.member-card h2 {
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  margin-top: 0.35rem;
}

.member-card p {
  font-family: cursive;
}

.directory-title h2 {
  text-align: center;
  margin-bottom: -5px;
  margin-top: 10px;
  color: #333;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#members-container.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5px;
  align-items: center;
}

#grid,
#list {
  background: radial-gradient(#dba0a0, #7085e4); /* Set background color */
  color: white;
  border: none;
  padding: 5px;
  margin-bottom: 10px;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
}

#grid:hover,
#list:hover {
  background-color: #0056b3; /* Change background color on hover */
  transform: scale(1.1);
}

#members-container.grid img {
  border: 1px solid #fff;
  box-shadow: 0 0 10px #333;
}

#members-container.grid h2 {
  font-family: "Caveat", cursive;
}

#members-container.list {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#members-container.list h2 {
  font-weight: bold;
  text-align: center;
  padding: 10px;
  margin: -0.2rem 0;
}

#members-container.list p {
  text-align: left;
  padding: 10px;
  margin: -0.2rem 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifder
}

#members-container.list img {
  display: none;
}

#members-container.list > div:nth-child(odd) {
  background-color: #bed; 
}


/* week 10 current weather */
.current-weather {
  background: radial-gradient(#f09797, #939ed3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 15px;
  margin-top: -12px;
  margin: 0px 0px 10px 10px;
  max-width: 430px;
  height: 160px;
}

.current-weather p, .current-weather h4 {
  color: white;
  font-size: 18px;
  font-family: lora;
  text-shadow: 2px 2px 8px rgba(31, 13, 165, 0.5);
  margin-top: 10px;
}

.current-weather img {
  width: 60px;
  height: 60px;
}

.weather-cards {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  background: radial-gradient(#e39d9d, #c6cdf2);
  border-radius: 8px;;
} 

.weather-cards .card {
  padding: 10px 50px 10px 10px;
  list-style: none;
  width: calc(100% / 3);
  box-shadow: 0 0 1px rgba(236, 237, 233, 0.5);
  border-radius: 5px;
  text-align: center;
  align-items: center;
} 

.weather-cards .card h3 {
  font-size: 1.3rem;
  font-weight: 600;
} 

.weather-cards .card img {
  max-width: 70px;
  margin: 5px 0 -12px 0;
} 

.close-button {
  font-size: 1rem;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.close-button:hover {
  background-color: rgb(224, 203, 203);
}

.days-forecast h4 {
  text-align: center;
  border-radius: 6px;
  margin-bottom: 5px;
  font-family: lora;
  margin-top: 20px;
}

.days-forecast p {
  color: white;
  font-size: 14px;
  font-family: lora;
  text-shadow: 2px 2px 8px rgba(31, 13, 165, 0.5);
  margin-top: 10px;
}


.banner {
  background: radial-gradient(#e58e8e, #a1aff0);
  color: #fff; 
  border-radius: 6px; 
  text-align: center;
  padding: 10px;
  margin-top: 40px;
  transition: transform 0.3s ease;
}

.banner:hover {
  background: radial-gradient(#e58e8e, #aebaf4);
  transform: scale(1.1);
  opacity: 0.9;
}

.banner p {
  font-size: 16px;
  color: white;
  font-family: lora;
  text-shadow: 2px 2px 8px rgba(31, 13, 165, 0.5);
  margin-top: 10px;
  font-style: italic;
  font-weight: bold;
}


.company-spotlights h2 {
  text-align: center;
}

#days-forecast {
  text-align: right;
}

.image-size::after {
  content: "small";
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  padding: 3px 6px;
  border-radius: 3px;
}

@media screen and (max-width: 600px) {
  footer {
    padding: 10px;
    margin-top: -20px;
  }

  nav a {
  display: none;
  text-decoration: none;
  padding: 10px;
  margin-right: 10px;
  color: white;
  transition: background-color 0.3s ease;
  border-radius: 4px;
  box-shadow: 2px 1px 2px 1px  rgba(31, 13, 165, 0.5);
  font-family: lora; 
  font-weight: bold;
  }
  
  footer img {
    max-width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-bottom: 5px; 
    margin-left: 155px; 
  }

  .footage-beautify {
    flex-direction: column; 
    align-items: center;
  }

  footer {
    background: radial-gradient(#dba0a0, #7085e4);
    padding: 10px;
    border-radius: 8px;
  }

  .footage-beautify section {
    margin-right: 0;
    text-align: center;
  }

  .footage-beautify h3 {
    text-align: center;
    margin: 5px 0;
    color: white;
    font-family: lora;
    text-shadow: 2px 2px 8px rgba(31, 13, 165, 0.5);
    text-align: center;
  }

  footer p {
    margin: 5px 0;
    font-size: 14px;
    color: white;
    font-family: lora;
    text-shadow: 2px 2px 8px rgba(31, 13, 165, 0.5);
    text-align: center;
  }
}