@media screen and (min-width: 901px) {
    main {
      grid-template-columns: repeat(3, 1fr);
    }

    body {
      font-family: 'Roboto', sans-serif;
      background-color: #f3f7f5;
      margin: 0;
      max-width: 800px;
      align-items: center;
      justify-content: center;
    }
  
    section {
      font-size: 20px;
    }

    #menu-button {
        display: none;
    }
    .discover img {
      height: 350px;
    }
  }